@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/header.css");
@import url("components/images.css");
@import url("components/list.css");

body {
  background-color: #ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  color: grey;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7em;
}


h1 {
    color: #0B3954;
    font-size: 37px;
}


a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #197BBD;
}



